:root {
    --border-radius: 10px;
}

body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: hsl(136, 95%, 10%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 3rem);
    padding-top: 3rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
    background-color: #982929;
    padding: 1rem 2rem;
    min-height: 2rem;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

nav > button,
.lockBtn
{
    width: 75px;
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: 700;
    opacity: 50%;
    border-radius: var(--border-radius);
}

nav > button:hover {
    opacity: 100%;
    background: rgb(3, 107, 30);    
}

#statusField {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: xx-large;
    color: rgb(1, 42, 31);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    width: 60vw;
    height: 300px;
}

#scoreBoard {
    width: 60vw;
    height: 100px;
    border: 1px black solid;
}

#diceFieldsContainer.fieldBorder,
#statusField.fieldBorder,
#scoreBoard.fieldBorder {
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 20px 5px hsl(136, 65%, 24%);;
}

.die {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    transition: transform 1s ease;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(133, 0, 0, 0.86);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#diceFieldsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    height: 200px;
    border-radius: var(--border-radius);
}

.dieField {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dieWrapper {
    display: flex;
    flex-direction: inherit;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: var(--border-radius);
}

/* position each face */
.face:nth-child(1) {
    transform: rotateY(0deg) translateZ(50px);
} /* front */
.face:nth-child(2) {
    transform: rotateY(180deg) translateZ(50px);
} /* back */
.face:nth-child(3) {
    transform: rotateY(90deg) translateZ(50px);
} /* right */
.face:nth-child(4) {
    transform: rotateY(-90deg) translateZ(50px);
} /* left */
.face:nth-child(5) {
    transform: rotateX(90deg) translateZ(50px);
} /* top */
.face:nth-child(6) {
    transform: rotateX(-90deg) translateZ(50px);
} /* bottom */

/* menus and modals */
#instructionsModalContainer {
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(20px);
    z-index: 1000;
    transform: translateY(40px);
    overflow: hidden;
}

#instructionsModal {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -60%);
    z-index: inherit;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.20);
    overflow-y: scroll;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: rgb(255, 156, 156);
    padding: 0 15px;
    border-radius: var(--border-radius)
}

#modalContent {
    height: 100%;
    overflow-y: auto;
    padding-top: 2rem;
}

#modalContent > h1 {
    color: white;
    font-size: x-large;
}

.modalContentScroll {
    overflow-y: auto;         /* enable scrolling */
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none;    /* Firefox */
}

.modalContentScroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#closeModalBtn {
    position: absolute;
    z-index: 2000;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(234, 255, 3);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: medium;
}
